@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,body {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: var(--secondary-color);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-transform: capitalize;
}

:root {
    --primary-color:#10e5b2 ;
    --primary-color-dark: #683ce4;
    --secondary-color: #030614;
    --secondary-color-light: #0f111f;
    --secondary-color-dark: #030614;
    --text-light: #94a3b8;
    --max-width: 1200px;
    --gradient: linear-gradient(to right,var(--primary-color-dark),var(--primary-color));
  }


  a {
    text-decoration: none;
    color: white;
  }
  img {
    display: flex;
    width: 100%;
  }
.btn {
    color: var(--secondary-color);
    background-image: var(--gradient);
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
.btn :hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
    border: 2px solid var(--primary-color-dark);
}
  
  /*header*/
  .header {
    position: relative;
    background-color: var(--secondary-color-dark);
  }
  nav {
    position: fixed;
    isolation: isolate;
    z-index: 100;
    width: 100%;
  }
  .nav__bar {
    position: relative;
    isolation: isolate;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
  }
  .nav__logo .image {
    width: 60px;
  }
  .nav__links {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    transform: translateY(-100%);
    background-color: var(--secondary-color-light);
    transition: 0.5s;
    z-index: -1;
  }
  .nav__links.open {
    transform: translateY(0);
  }
  .link a {
    transition: 0.3s;
    font-weight: 500;
  }
  .link a:hover {
    color: var(--primary-color-dark);
  }
  .nav__menu__btn {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .header__container {
    padding-top: 10rem;
    display: grid;
    gap: 4rem;
  }
  .header__image img {
    max-width: 400px;
    margin: auto;
    border: 2px solid var(--primary-color-dark);
    border-radius: 50%;
    box-shadow: 0 0 30px var(--primary-color);
    background-color: var(--primary-color-dark);
    margin-top: 30px;
  }
  .header__content {
    text-align: center;
  }
  .header__content h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .header__content h4 span {
    color: var(--primary-color);
  }
  .header__content h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
  }
  .header__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  .home__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .home__btns a {
    gap: 5px;
    padding: 3px 8px;
    font-size: 1.25rem;
    color: var(--secondary-color);
    background-image: var(--gradient);
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
  }
  .home__btns a:hover {
    transform: scale(1.1);
  }



input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 1rem;
}


.section_title {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 2px solid var(--primary-color);
  }

h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}


.container {
    margin: 2rem 10rem;
}
#itemsContainer , #userItemsContainer , #boughtItemsContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    
  }

.itemContainer{
    border: 2px solid var(--primary-color-dark) ;
    color: var(--secondary-color);
    color: white;
    max-width: 500px;
    background-color: var(--primary-color-dark);
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem;
    width: 540px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#itemsContainer,
#userItemsContainer,
#boughtItemsContainer {
    margin-top: 20px;

}









/*resposive*/
@media (width > 480px) {

    #itemsContainer , #userItemsContainer , #boughtItemsContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog__grid{
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 1rem;
    }
    .langue__grid{
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 1rem;
    }
    .min-screen .screen-box .screen .content p {
      max-width: 400px;
    }
  }
@media (width > 770px) {


    .home__btns {
      display: flex;
      justify-content: left;
    }
    .header__container {
      padding: 0 1rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 2rem;
    }
    .header__content {
      padding-block: 5rem;
      text-align: left;
      grid-area: 1/1/2/2;
    }
    nav {
      position: static;
    }
    .nav__bar {
      padding: 1rem;
      height: 10vh;
    }
    .nav__header {
      padding: 0;
      background-color: transparent;
    }
    .nav__menu__btn {
      display: none;
    }
    .nav__links {
      font-size: 14px;
      position: static;
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: none;
    }
    .header__container {
      padding: 0 1rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 2rem;
    }
    .exp {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 2rem;
    }

    .blog__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem 1rem;
    }
    .langue__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .min-screen .screen-box .screen .content p {
      max-width: 100%;
    }
    .header__image img {
      margin-top: 0;
    }
  }
@media (width > 1030px) {
    .nav__links {
      font-size: 1rem;
    }

    .langue__grid {
      gap: 2rem;
    }
  }
  